
.body{
    font-family: 'Roboto', sans-serif;
  
}
img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 0.5s;
  }
.text-gradient{
    background: linear-gradient(107deg,#9b0063,#ff4c1d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a:hover{
    color: #ff4c1d;
}
.logo{
    font-size: 20px; 
    font-style: medium;
    font-weight: 500;
}

.align-center {
    display: grid;
    justify-content: center;
    
}
.button{
    padding:8px;
    margin-top: 20px;
    background: linear-gradient(270deg, #9B0063 10.31%, #FF4C1D 87.11%);
    color: #ffffff;
    border-radius: 12px;
    border: 0 ; 
}
.buttons:hover{
    text-decoration: none;
    color:white;
}
.buttons{
    padding: 30px;
    color:white;
}
.buttons-text{
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
}
button:hover{
    background:#9b0063;
}
.headofupper{
    background: #F5F5F5;
    border-radius: 0px 0px 100px 100px;
}

.menu{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.37);
}

.text{
font-style: normal;
font-weight: weight;
font-size: 24px;
line-height: 30px;
text-align: center;
color: #5F6368;
}
hr{
    background: linear-gradient(107deg,#9b0063,#ff4c1d);
}


.text2{
    font-style: normal;
    font-weight: weight;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #5F6368;
    }
input{
    outline:none;
   border:none;
   background-color:rgb(83, 85, 86,9%);
   
   border-radius: 12px;
   padding:10px;
}
.container-fluid{
    padding-right: 0;
    padding-left: 0;
}
.cont{
    padding: 100px;
    background-color: rgb(228, 224, 224);
    
    border-radius: 0 0 50px 50px;
}

@media only screen and (max-width:1000px ) and (min-width:700px) {
.blockof{
   margin-right:10px;
}
.cont{

    padding-right: 0px;
   padding-left: 0px;
}
}

@media only screen and (max-width:800px ) {
    .blockof{
       margin-top:20px;
    }
    .cont{
        text-align: center;
        margin : 0;
        padding-top: 50px ; 
        padding-bottom: 50px ; 
        padding-right: 0px;
       padding-left: 0px;
    }
    h1 {
        font-size: 30px;
    }
    .second__img{
        margin-top: 20px;
    }
}

@media only screen and (max-width:400px ) {
   .cont{
       margin : 0;
       padding-top: 30px ; 
       padding-bottom: 30px ; 
       padding-right: 0px;
       padding-left: 0px;
   }
   .logo{
    font-size: 20px;
   }
   h1 {
       font-size: 25px;
   }
    
}