@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GARANTD1MSO</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/main2.css" />
    <link rel="stylesheet" href="~/css/footer.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light menu bg-light ">
        <a class="nav-link navbar-brand logo text-gradient animated fadeIn" asp-action="Index" asp-controller="Home">GARANTD1MSO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse animated fadeInRight" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mt-lg-0 ">
                <li class="nav-item ">
                    <a class="nav-link" asp-action="Index" asp-controller="Home">
                        Главная <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="comments" asp-controller="Home">Отзывы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="contact" asp-controller="Home">Контакты</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-action="help" asp-controller="Home">Помощь</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="staticpage" asp-controller="Home">Статьи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="join" asp-controller="Home">Войти</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container text-center ">
        <div class="row">
            <div class="mx-auto col-md-7 col-sm-12 text-gradient mt-5 mb-1 ">
                <h1>Помощь</h1>
                <hr>
            </div>
        </div>
    </div>


    <div class="container ">
        <h1>Для продавца</h1>
        <hr>
        <a class="btn" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
           aria-controls="collapseExample">
            <i class="fas fa-sort-down fa-2x text-gradient"></i> Как мне передать товар в доставку.
        </a>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                После того как Покупатель проведет оплату, статус в вашем личном кабинете изменится, а вы получите
                соответствующее оповещение на e-mail. Далее вам необходимо передать товар Покупателю в соответствии с
                вашими договоренностями и изменить статус сделки в личном кабинете, нажав кнопку «Передать в доставку».
                Если вы отправляете товар через службу доставки, обязательно укажите название компании, код для
                отслеживания посылки и приложите квитанцию от транспортной компании.
            </div>
        </div>



        <a class="btn" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false"
           aria-controls="collapseExample3">
            <i class="fas fa-sort-down fa-2x text-gradient"></i> Как принимать оплату заказов?
        </a>

        <div class="collapse" id="collapseExample3">
            <div class="card card-body">
                Чтобы получить платеж, необходимо указать свои реквизиты на этапе создания сделки или на стадии ее
                подтверждения в том случае, если сделку создал Покупатель.

                Обратите внимание:<br>
                - Если вы работаете как юридическое лицо, вам необходимо указать данные расчетного счета компании.<br>
                - Если вы выступаете как ИП или физическое лицо, укажите номер расчетного счета или банковской
                карты.<br>
                Как только Покупатель подтвердит получение заказа, мы переведем деньги на указанные вами реквизиты в
                течение трех дней.
            </div>
        </div>



    </div>



    <div class="container mt-5">
        <h1>Для Покупателя</h1>
        <hr>
        <a class="btn" data-toggle="collapse" href="#collapseExampl" role="button" aria-expanded="false"
           aria-controls="collapseExample">
            <i class="fas fa-sort-down fa-2x text-gradient"></i> Как мне передать товар в доставку.
        </a>
        </p>
        <div class="collapse" id="collapseExampl">
            <div class="card card-body">
                После того как Покупатель проведет оплату, статус в вашем личном кабинете изменится, а вы получите
                соответствующее оповещение на e-mail. Далее вам необходимо передать товар Покупателю в соответствии с
                вашими договоренностями и изменить статус сделки в личном кабинете, нажав кнопку «Передать в доставку».
                Если вы отправляете товар через службу доставки, обязательно укажите название компании, код для
                отслеживания посылки и приложите квитанцию от транспортной компании.
            </div>
        </div>


        <a class="btn" data-toggle="collapse" href="#collapseExampl2" role="button" aria-expanded="false"
           aria-controls="collapseExample2">
            <i class="fas fa-sort-down fa-2x text-gradient"></i> Как провести оплату ?
        </a>
        </p>
        <div class="collapse" id="collapseExampl2">
            <div class="card card-body">
                - Банковским переводом (без комиссии*)

                При оплате в отделении банка, через интернет или мобильный банк ваш банк может удержать комиссию
                согласно его действующим тарифам, уточните в банке тарифы на перевод в адрес юридического лица.

                ВНИМАНИЕ! Назначение платежа должно строго соответствовать указанному в счете от SafeCrow (указание
                номера оплачиваемой сделки обязательно)

                - Банковской картой

                Оплата производится с помощью платежного сервиса MandarinPay.

                - Электронный платеж ROBOKASSA

                Оплата производится с помощью платежного сервиса ROBOKASSA.

                Доступны к оплате: банковские карты, ЯндексДеньги, QiwiWallet, Евросеть, Связной, Интернет-банкинг,
                WebMoney, операторы сотовой связи.
            </div>
        </div>

        <a class="btn" data-toggle="collapse" href="#collapseExampl3" role="button" aria-expanded="false"
           aria-controls="collapseExample3">
            <i class="fas fa-sort-down fa-2x text-gradient"></i> Как мне вернуть товар?
        </a>
        </p>
        <div class="collapse" id="collapseExampl3">
            <div class="card card-body">
                Если вы решили вернуть товар, вам нужно договориться о доставке. Возврат товара совершается за счет
                Продавца. После того как Продавец подтвердит получение товара, деньги будут переведены на указанные вами
                реквизиты в течение трех дней.
            </div>
        </div>

    </div>
    <img src="" alt="" style="color: red; ">
    <div class="container ">
        <h1>Общее</h1>
        <hr>
        <a class="btn" data-toggle="collapse" href="#collapseExample12" role="button" aria-expanded="false"
           aria-controls="collapseExample12">
            <i class="fas fa-sort-down fa-2x text-gradient"></i> Что такое Арбитраж.
        </a>
        </p>
        <div class="collapse" id="collapseExample12">
            <div class="card card-body">
                Если стороны не пришли к соглашению, то они могут прибегнуть к помощи опытных арбитражных консультантов
                D1msoGarant, которые изучат суть спора и предложат сторонам возможные компромиссные решения.

                Арбитражная команда D1msoGarant занимается урегулированием споров между участниками сделок, совершенных с
                помощью сервиса D1msoGarant. Являясь независимым арбитром, мы не имеем заинтересованности в принятии
                решения в пользу какой-либо из сторон. Оценка ситуации и принятие решения осуществляются исключительно
                на основе документально подтвержденных фактов.
            </div>
        </div>
    </div>


    <footer class=" mt-sm-5">
        <section id="footer">
            <div class="container ">
                <div class="row text-center text-xs-center text-sm-left text-md-left">
                    <div class="col-xs-12 col-sm-12 col-md-12 text-center ">
                        <h5>Общее</h5>
                        <ul class="list-unstyled list-inline quick-links ">
                            <li class="list-inline-item mr-5">
                                <a href="javascript:void();">
                                    <i class="fa fa-angle-double-right"></i>Главная
                                </a>
                            </li>
                            <li class="list-inline-item mr-5">
                                <a href="javascript:void();">
                                    <i class="fa fa-angle-double-right"></i>Отзывы
                                </a>
                            </li>
                            <li class="list-inline-item mr-5">
                                <a href="javascript:void();">
                                    <i class="fa fa-angle-double-right"></i>Контакты
                                </a>
                            </li>
                            <li class="list-inline-item mr-5">
                                <a href="javascript:void();">
                                    <i class="fa fa-angle-double-right"></i>Помощь
                                </a>
                            </li>
                            <li class="list-inline-item mr-5">
                                <a href="https://wwwe.sunlimetech.com"
                                   title="Design and developed by">
                                    <i class="fa fa-angle-double-right"></i>Статьи
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-3">
                        <ul class="list-unstyled list-inline social text-center">
                            <li class="list-inline-item">
                                <a href="javascript:void();">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript:void();">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript:void();">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript:void();">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript:void();" target="_blank">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    </hr>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center ">

                        <p class="h6">
                            &copy Все права защищены .<a class="text-green ml-2"
                                                         href="https://www.sunlimetech.com" target="_blank">GarantD1mso</a>
                        </p>
                    </div>
                    </hr>
                </div>
            </div>
        </section>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>