@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GARANTD1MSO</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/footer.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light menu bg-light ">
        <a class="nav-link navbar-brand logo text-gradient animated fadeIn" asp-action="Index" asp-controller="Home">GARANTD1MSO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse animated fadeInRight" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mt-lg-0 ">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">
                        Главная <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="comments" asp-controller="Home">Отзывы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="contact" asp-controller="Home">Контакты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="help" asp-controller="Home">Помощь</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="staticpage" asp-controller="Home">Статьи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="join" asp-controller="Home">Войти</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container-fluid text-center   ">


        <div class="cont ">
            <div class="row">
                <div class="mx-auto col-md-7 col-sm-12 text-gradient animated fadeInUp">
                    <h1>
                        Мы гарантируем вам 100% <br> сделку с минимальной <br> комиссией
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <button class="button ">
                        <a class="buttons buttons-text" href="#">Перейти</a>
                    </button>
                </div>
            </div>

        </div>
        <div class="container text-center ">
            <div class="row">
                <div class="col-md-12 col-sm-12 mt-4 animated   ">
                    <h1>
                        Что такое безопасная сделка?
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 text mt-5 mb-5 animated ">
                    <p>
                        Безопасная сделка – сервис защиты покупателя и продавца в интернете.
                        Безопасная сделка гарантирует 100% предоплату, которая хранится на счёте
                        гаранта ,
                        пока продавец не выполнит все свои обязательства, а покупатель не
                        получит товар или услугу.

                    </p>
                </div>
            </div>
        </div>
        <hr>

        <div class="container text-center mt-5">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1>
                        Преимущества GarantD1mso
                    </h1>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-4 col-sm-12">
                    <img src="img/quality 1.png" alt="Качество">
                    <p class="text mt-4">Качественно</p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <img src="img/surface1.png" alt="Безопасно">
                    <p class="text mt-4">Безопасно</p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <img src="img/Анонимно.png" alt="Анонимно">
                    <p class="text mt-4"> Анонимно</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="container text-center mt-5">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1>
                        Сколько стоит безопасная сделка?
                    </h1>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-md-6 col-sm-12 ">
                    <p class="text mt-4">Сумма сделки</p>
                    <input type="text">
                </div>
                <div class="col-md-6 col-sm-12">
                    <p class="text mt-4">Комиссия</p>
                    <input type="text">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <button class="button">
                        <a class="buttons buttons-text" href="#">Рассчитать</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container text-center mt-5">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h1>
                    Как происходит безопасная сделка через гарант-сервис?
                </h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class=" blockof mx-auto col-lg-2 col-md-5 col-sm-12">
                <img src="img/Как происходит сделка1.png" alt="Качество">
                <p class="text2 mt-4">Продавец и покупатель договорились о безопасной сделке</p>
            </div>
            <div class=" blockof mx-auto col-lg-2  col-md-5 col-sm-12">
                <img src="img/Как происходит сделка 2.png" alt="Безопасно">
                <p class="text2 mt-4">Покупатель переводит деньги на безопасный счет </p>
            </div>
            <div class=" blockof mx-auto col-lg-2 col-md-5 col-sm-12">
                <img src="img/Как происходит сделка3.png" alt="Анонимно">
                <p class="text2 mt-4"> Продавец осуществляет передачу товара или услуги покупателю</p>
            </div>
            <div class=" blockof mx-auto col-lg-2 col-md-5 col-sm-12">
                <img src="img/Как происходит сделка 3.png" alt="Анонимно">
                <p class="text2 mt-4">
                    Покупатель принимает товар, проверяет его соответствие условиям
                    сделки
                </p>
            </div>
            <div class=" blockof mx-auto col-lg-2 col-md-5 col-sm-12">
                <img src="img/Как происходит сделка 5.png" alt="Анонимно">
                <p class="text2 mt-4">
                    Сервис переводит деньги продавцу и завершает безопасную сделку
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="container text-center mt-2">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h1>
                    Наши группы
                </h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-3 col-md-5 col-sm-6 mt-5">
                <p class="text mt-4">EnjoyMaloy</p>
            </div>
            <div class="col-lg-3 col-md-5 col-sm-6 ">
                <a href="https://vk.com/enjoymaloy" target="_blank">
                    <img src="img/EnjoyMaloy.png"
                         alt="EnjoyMaloy">
                </a>
            </div>
            <div class="col-lg-3 col-md-5 col-sm-6 second__img">
                <a href="https://vk.com/d1msolinostat" target="_blank">
                    <img src="img/D1mso.png"
                         alt="D1msolinostat">
                </a>
            </div>
            <div class="col-lg-3     col-md-5 col-sm-6 mt-5 ">
                <p class="text mt-4">D1msolinostat</p>
            </div>
        </div>
    </div>
    <footer class=" mt-sm-5">
        <section id="footer">
            <div class="container ">
                <div class="row text-center text-xs-center text-sm-left text-md-left">
                    <div class="col-xs-12 col-sm-12 col-md-12 text-center ">
                        <h5>Общее</h5>
                        <ul class="list-unstyled list-inline quick-links ">
                            <li class="list-inline-item mr-5">
                                <a href="javascript:void();">
                                    <i class="fa fa-angle-double-right"></i>Главная
                                </a>
                            </li>
                            <li class="list-inline-item mr-5">
                                <a href="javascript:void();">
                                    <i class="fa fa-angle-double-right"></i>Отзывы
                                </a>
                            </li>
                            <li class="list-inline-item mr-5">
                                <a href="javascript:void();">
                                    <i class="fa fa-angle-double-right"></i>Контакты
                                </a>
                            </li>
                            <li class="list-inline-item mr-5">
                                <a href="javascript:void();">
                                    <i class="fa fa-angle-double-right"></i>Помощь
                                </a>
                            </li>
                            <li class="list-inline-item mr-5">
                                <a href="https://wwwe.sunlimetech.com"
                                   title="Design and developed by">
                                    <i class="fa fa-angle-double-right"></i>Статьи
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-3">
                        <ul class="list-unstyled list-inline social text-center">
                            <li class="list-inline-item">
                                <a href="javascript:void();">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript:void();">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript:void();">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript:void();">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript:void();"
                                   target="_blank">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    </hr>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center ">

                        <p class="h6">
                            &copy Все права защищены .<a class="text-green ml-2"
                                                         href="https://www.sunlimetech.com"
                                                         target="_blank">GarantD1mso</a>
                        </p>
                    </div>
                    </hr>
                </div>
            </div>
        </section>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>