@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GARANTD1MSO</title>
    <link rel="shortcut icon" href="/img/sGG5gQkOM8A.jpg" type="image/jpg">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/main2.css" />
    <link rel="stylesheet" href="~/css/footer.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light menu bg-light ">
        <a class="nav-link navbar-brand logo text-gradient animated fadeIn" asp-action="Index" asp-controller="Home">GARANTD1MSO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse animated fadeInRight" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mt-lg-0 ">
                <li class="nav-item ">
                    <a class="nav-link" asp-action="Index" asp-controller="Home">
                        Главная <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="comments" asp-controller="Home">Отзывы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="contact" asp-controller="Home">Контакты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="help" asp-controller="Home">Помощь</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="staticpage" asp-controller="Home">Статьи</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-action="join" asp-controller="Home">Войти</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container text-center text-gradient mt-5 mb-1">
        <h1>Вход</h1>

    </div>
    <div class="mx-auto" style="max-width: 400px;">          
            <hr>
            <p class="text-success text-center">Some message goes here</p>
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input name="" class="form-control" placeholder="Email or login" type="email">
                    </div> <!-- input-group.// -->
                </div> <!-- form-group// -->
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input class="form-control" placeholder="******" type="password">
                    </div> <!-- input-group.// -->
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn button btn-block"> Login  </button>
                </div> <!-- form-group// -->
                <p class="text-center"><a href="#" class="btn">Forgot password?</a></p>
            </form>
    </div> <!-- card.// -->
    <footer class=" mt-sm-5">
        <section id="footer">
            <div class="container ">
                <div class="row text-center text-xs-center text-sm-left text-md-left">
                    <div class="col-xs-12 col-sm-12 col-md-12 text-center ">
                        <h5>Общее</h5>
                        <ul class="list-unstyled list-inline quick-links ">
                            <li class="list-inline-item mr-5">
                                <a href="javascript:void();">
                                    <i class="fa fa-angle-double-right"></i>Главная
                                </a>
                            </li>
                            <li class="list-inline-item mr-5">
                                <a href="javascript:void();">
                                    <i class="fa fa-angle-double-right"></i>Отзывы
                                </a>
                            </li>
                            <li class="list-inline-item mr-5">
                                <a href="javascript:void();">
                                    <i class="fa fa-angle-double-right"></i>Контакты
                                </a>
                            </li>
                            <li class="list-inline-item mr-5">
                                <a href="javascript:void();">
                                    <i class="fa fa-angle-double-right"></i>Помощь
                                </a>
                            </li>
                            <li class="list-inline-item mr-5">
                                <a href="https://wwwe.sunlimetech.com"
                                   title="Design and developed by">
                                    <i class="fa fa-angle-double-right"></i>
                                    Статьи
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-3">
                        <ul class="list-unstyled list-inline social text-center">
                            <li class="list-inline-item">
                                <a href="javascript:void();"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript:void();"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript:void();">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript:void();">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript:void();" target="_blank">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    </hr>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center ">

                        <p class="h6">
                            &copy Все права защищены .<a class="text-green ml-2"
                                                         href="https://www.sunlimetech.com" target="_blank">GarantD1mso</a>
                        </p>
                    </div>
                    </hr>
                </div>
            </div>
        </section>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>