@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GARANTD1MSO</title>
    <link rel="shortcut icon" href="/img/sGG5gQkOM8A.jpg" type="image/jpg">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/main2.css" />
    <link rel="stylesheet" href="~/css/footer.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light menu bg-light ">
        <a class="nav-link navbar-brand logo text-gradient animated fadeIn" asp-action="Index" asp-controller="Home">GARANTD1MSO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse animated fadeInRight" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mt-lg-0 ">
                <li class="nav-item active">
                    <a class="nav-link" asp-action="Index" asp-controller="Home">
                        Главная <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="comments" asp-controller="Home">Отзывы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="contact" asp-controller="Home">Контакты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="help" asp-controller="Home">Помощь</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-action="staticpage" asp-controller="Home">Статьи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="join" asp-controller="Home">Войти</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container text-center text-gradient mt-5 mb-1">
        <h1>Как работает гарант сделки в интернете?</h1>
        <hr>
    </div>


    <main role="main">
        <div class="container ">

            <div class="row">
                <div class="col-md-12">
                    <div class=" mb-4 box-shadow">
                        <img class="card-img-top" src="~/img/kak-rabotaet-garant-sdelki.jpg" alt="Card image cap">
                        <div class="card-body">

                        </div>
                    </div>
                </div>

                <p>
                    Понятие безопасной сделки прочно вошло в современный деловой обиход.
                    Чем дальше, тем все больше ресурсов, предоставляющих разного рода услуги, привлекают к
                    сотрудничеству сервисы безопасных сделок. Добросовестный бизнес стремится обеспечить своих клиентов
                    дополнительными гарантиями.
                </p>

                <br>
                <br>
                <h1 class="text-center">
                    Что такое безопасная сделка
                </h1>

                <p>
                    Название говорит само за себя. Механизм безопасной сделки продуман таким образом, что становится
                    невозможным её провести, если не выполнены все условия договора. При этом вероятность подлога
                    исключается полностью. Любой – даже самый хитроумный – план мошенника треснет под безопасной
                    сделкой, как спичечный коробок под гусеничным траком. В чём, собственно, секрет?<br> <br>

                    Секрет безопасности сделок кроется в присутствии некого наблюдателя. Рассмотрим на бытовом примере,
                    как это работает. <br> <br>

                    Предположим, вы подыскиваете холодильник на дачу. Везти туда новый агрегат не имеет смысла, поэтому
                    вы просматриваете предложения на различных интернет-ярмарках, где торгуют техникой, бывшей в
                    употреблении. <br> <br>

                    По каким критериям вы оцениваете? Скорее всего, вы ориентируетесь на описания и фотоснимки,
                    демонстрирующие товары с разных ракурсов. И вот вы находите искомое – холодильник с 2-летним
                    «пробегом», в хорошем состоянии, без единой царапины на корпусе. Вас устраивает его цена, вы готовы
                    его приобрести, но как получить гарантию того, что вы получите именно тот холодильник, который
                    изображен на снимках? Неужели ни разу не бывало такого, что вы оплатили одно, а доставили совсем
                    другое? Или не доставили вовсе? <br> <br>

                    Интернет при всех своих плюсах имеет существенный минус – анонимность, которая является благодатной
                    почвой для различных мошеннических схем. Через такой теневой сектор экономики ежегодно проходят
                    миллиарды рублей, обманом изъятых из кошельков доверчивых граждан. Как защитить свои деньги и не
                    стать жертвой обмана?
                </p>
                <h1 class="text-center">
                    Как защитить свои деньги и не стать жертвой обмана?
                </h1>

                <p>
                    Для этого достаточно привлечь к сделке того самого наблюдателя, который отследит выполнение всех
                    условий. Практически это реализуется следующим образом. Денежные средства, равные стоимости
                    пресловутого холодильника, передаются наблюдателю, который помещает их на специальный банковский
                    счет. Как только средства оказались на этом счете, продавец холодильника получает уведомление о том,
                    что вы оплатили покупку. При этом продавец не получит денег до тех пор, пока не доставит вам
                    холодильник, а вы не убедитесь в том, что он исправен и полностью соответствует описанию. В такой
                    ситуации продавец полностью лишается возможности обмануть. Он знает, что вы готовы к покупке и даже
                    оплатили ее, но деньги он сможет положить в карман лишь в том случае, если с самого начала
                    действовал добросовестно. <br> <br>

                    Какой смысл самому продавцу участвовать в столь сложной схеме передачи денег? Дело в том, что эта
                    схема обеспечивает безопасность и ему тоже. Если покупатель захочет получить товар и не
                    расплатиться, наблюдатель не позволит этому свершиться. Деньги находятся на банковском счете. После
                    того, как продавец честно выполнит свои обязательства, наблюдатель переведет ему оплату даже в том
                    случае, если покупатель исчезнет с горизонта. <br> <br>

                    Таким образом, механизм безопасной сделки действует в двух противоположных направлениях
                    одновременно, защищая интересы обеих сторон.
                </p>
            </div>
    </main>






    <footer class=" mt-sm-5">
        <section id="footer">
            <div class="container ">
                <div class="row text-center text-xs-center text-sm-left text-md-left">
                    <div class="col-xs-12 col-sm-12 col-md-12 text-center ">
                        <h5>Общее</h5>
                        <ul class="list-unstyled list-inline quick-links ">
                            <li class="list-inline-item mr-5">
                                <a href="javascript:void();">
                                    <i class="fa fa-angle-double-right"></i>Главная
                                </a>
                            </li>
                            <li class="list-inline-item mr-5">
                                <a href="javascript:void();">
                                    <i class="fa fa-angle-double-right"></i>Отзывы
                                </a>
                            </li>
                            <li class="list-inline-item mr-5">
                                <a href="javascript:void();">
                                    <i class="fa fa-angle-double-right"></i>Контакты
                                </a>
                            </li>
                            <li class="list-inline-item mr-5">
                                <a href="javascript:void();">
                                    <i class="fa fa-angle-double-right"></i>Помощь
                                </a>
                            </li>
                            <li class="list-inline-item mr-5">
                                <a href="https://wwwe.sunlimetech.com"
                                   title="Design and developed by">
                                    <i class="fa fa-angle-double-right"></i>Разрешение
                                    споров
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-3">
                        <ul class="list-unstyled list-inline social text-center">
                            <li class="list-inline-item">
                                <a href="javascript:void();"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript:void();"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript:void();">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript:void();">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="javascript:void();" target="_blank">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    </hr>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center ">

                        <p class="h6">
                            &copy Все права защищены .<a class="text-green ml-2"
                                                         href="https://www.sunlimetech.com" target="_blank">GarantD1mso</a>
                        </p>
                    </div>
                    </hr>
                </div>
            </div>
        </section>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>